<div class="well container trip-new">
  <h1>Add New Trip</h1>
  <%= form_for @trip do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 8, id: "edit-trip", class: "form-control" %>
  </div>
    <%= f.submit "Create Trip", class: "btn btn-primary" %>
  <% end %> 
</div>
