<div class="well search-results">
  <h1>Search Results</h1>
  <hr>
  <div class="search-body">
    <% exclude_current_user(@users).each do |user| %>
      <% if current_user.friend?(user) %>
        <div class="media">
          <%= link_to(user_path(user)) do %> 
          <% end %>
          <div class="media-body">
            <%= image_tag(user.avatar, height: '60px', width: '60px', class: 'pull-left search-img') %>
            <h4 class="media-heading"><%= user.name %></h4>
            <p> Your Friend </p>
          </div>
        </div>
      <% elsif current_user.friend_requests.include?(user)  %>
        <div class="media">
          <div class="media-body">
            <%= image_tag(user.avatar, height: '60px', width: '60px', class: 'pull-left search-img') %>
            <h4 class="media-heading"><%= user.name %></h4>
            <p>
              Respond to friend request 
            </p>
          </div>
        </div>
      <% elsif current_user.pending_friend_requests.include?(user)  %>
        <div class="media">
          <div class="media-body">
            <%= image_tag(user.avatar, height: '60px', width: '60px', class: 'pull-left search-img') %>
            <h4 class="media-heading"><%= user.name %></h4>
            <p>
              Friendship pending
            </p>
          </div>
        </div>
      <% else %>
        <div class="media">
            <%= image_tag(user.avatar, height: '60', width: '60', class: 'pull-left search-img') %>
          <div class="media-body">
            <h4 class="media-heading"><%= user.name %></h4>
            <p>
              Do you know <%= user.name %>? 
              <%= link_to "Add", friendships_path(user), class:'btn btn-success btn-sm', method: 'post' %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
